<md-tab-group>
    <md-tab label='Overview'>
        <md-grid-list cols="12" rowHeight="140px" >
            <md-grid-tile colspan='12' class='start-tile'>
                <span>Midgard Fund</span>
            </md-grid-tile>             
            <md-grid-tile colspan='4'></md-grid-tile>
            <md-grid-tile colspan='4' class='details-tile'>
                <span>
                    You like to become rich as fast and effortless as possible? We provide the perferct solution for you.
                </span>
            </md-grid-tile>    
            <md-grid-tile colspan='4'></md-grid-tile>
            <md-grid-tile colspan='12' class='start-tile'>
                <button md-raised-button color='primary'>Start now</button>
            </md-grid-tile>
        </md-grid-list>
    </md-tab>
    <md-tab label='Register'></md-tab>
    <md-tab label='Login'></md-tab>
</md-tab-group>


<nav md-tab-nav-bar>
  <a md-tab-link
     *ngFor="let link of navLinks"
     [routerLink]="link"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{tabLink.label}}
  </a>
</nav>
